//! ***** MIXINS *****
@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin hide-slider {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &::focus {
    outline: none;
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}

//! ***** FONTS *****
$font-sans: "Open Sans", sans-serif;

//! ***** COLORS *****
$z-search-field-form: 5003;
$icon-size: 1rem;
$color-light-gray: #e2e2e2;
$color-mid-gray: #666;
$color-ikea-blue: #0058a3;
$color-ikea-blue-dark: #004f93;
$color-ikea-family-blue: #007cc1;
$color-ikea-yellow: #ffd800;
$color-gray-900: #111;
$color-gray-800: #333;
$color-gray-700: #484848;
$color-gray-500: #929292;
$color-gray-200: #dfdfdf;
$color-gray-150: #f2f2f2;
$color-gray-100: #f5f5f5;
$color-white: #fff;
$color-black: #000;
$color-light-orange: #ff9a02;
$color-new-orange: #ca5008;
$color-red: red;
$color-beige: #f4f3d7;
$color-brown: #814820;
$color-green: #3b7d22;
$color-pink: #ffb8c3;
$color-purple: #a96ecc;
$color-turquoise: #77ddd0;
$color-light-green: #d4e7ce;
$color-yellow: #ffdb00;
$color-gray: #959595;
